@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .transform-smooth {
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 600ms;
    }

    .two-columns {
        width: calc(50% - 20px);
    }

    .three-columns {
        width: calc((100% - 80px) / 3);
    }

    .masonry-item {
        width: 100%;
        margin-bottom: 40px;
    }

    h1 {
        @apply font-montserrat font-medium text-4xl lg:text-6xl;
    }
    
    h2 {
        @apply font-montserrat font-medium text-3xl lg:text-5xl;
    }

    h3 {
        @apply font-montserrat font-medium text-3xl lg:text-[40px];
    }

    button {
        @apply py-3 px-6 font-inter text-base rounded-full;
    }
}