@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .transform-smooth {
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 600ms;
    }

    .max-height-smooth {
        transition-property: max-height;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 1200ms;
    }

    .padding-top-smooth {
        transition-property: padding-top;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 1500ms;
    }

    .two-columns {
        width: calc(50% - 22px);
    }

    .three-columns {
        width: calc((100% - 88px) / 3);
    }

    .masonry-item {
        width: 100%;
        margin-bottom: 44px;
    }

    h1 {
        @apply font-montserrat font-medium text-4xl lg:text-6xl;
    }
    
    h2 {
        @apply font-montserrat font-medium text-3xl lg:text-5xl;
    }

    h3 {
        @apply font-montserrat font-medium text-3xl lg:text-[40px];
    }

    h4 {
        @apply font-montserrat font-medium lg:text-3xl ;
    }

    p {
        @apply font-inter text-base;
    }

    a {
        @apply font-inter text-base;
    }

    input {
        @apply font-inter text-base;
    }

    .button-rounded {
        @apply py-3 px-6 font-inter text-base rounded-full border;
    }

    .semi-transparent {
        background-color: rgba(255, 255, 255, 0.9);
    }
    .shadow-dark {
        box-shadow: 3px 3px 16px 3px rgba(0, 0, 0, 0.4);
    }
    .screen-distance {
        margin: 3rem;
        padding: 2rem;
        height: calc(100% - 6rem);
    }

    .viewer-item {
        height: 100%;
    }

    .viewer-item img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

@layer utilities {
    .roll-up {
        @apply max-h-[1450px] lg:max-h-[100vw];
    }

    .hide-background {
        padding-top: 800px;
    }
}